<div{{ attributes.addClass('assembly') }}>
  <div class="container">
    {% if content.field_text|render and content.field_link|render %}
    <div class="make-row">
      <div class="left-col">
    {% endif %}

    {% if content %}
      {% if content.field_text|render %}
      <div class="h3">{{ content.field_text }}</div>
      {% endif %}
      {{- content|without('field_link')|without('field_text') -}}
    {% endif %}

    {% if content.field_text|render and content.field_link|render %}
      </div>
      <div class="right-col">
    {% endif %}

    {% if content.field_link|render %}
      <a href="{{ content.field_link[0]['#url_title'] }}" class="btn btn-default"> {{ content.field_link[0]['#title'] }}</a>
    {% endif %}

    {% if content.field_text|render and content.field_link|render %}
      </div>
    </div>
    {% endif %}
  </div>
</div>
